name: Build APK

on:
  workflow_dispatch:
  push: {}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin

      - name: Install Flutter
        uses: subosito/flutter-action@v2
      - run: flutter doctor -v

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: flutter pub get

      - name: Code generation
        run: dart run build_runner build

      - name: Generate debug keystore
        run: |
          cd android
          keytool -genkey -v -keystore app/debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US"
          echo "storeFile=debug.keystore" >> key.properties
          echo "keyAlias=androiddebugkey" >> key.properties
          echo "storePassword=android" >> key.properties
          echo "keyPassword=android" >> key.properties

      - name: Build APK
        run: |
          flutter build apk --release \
            --dart-define=LICHESS_HOST=lichess.org \
            --dart-define=LICHESS_WS_HOST=socket.lichess.org \
            --dart-define=LICHESS_WS_SECRET=wG1OLhUR3CSXdDybqrtIW227QGrtiM3d

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
